<h1 class="text-center display-1">Characters</h1>
<app-search-bar
  (searchSuccess)="handleSearchSuccess($event)"
  (searchParams)="handleSearchParams($event)"
  [currentList]="currentList"
  >
</app-search-bar>
<div class="container list-container" (scroll)="onScroll()"
  infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">
  <div class="row">
    <div *ngFor="let character of characters" class="col-lg-3 col-md-4 col-sm-6 mb-4">
       <app-character-card [character]="character"></app-character-card>
    </div>
  </div>
</div>
